<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.papp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.example.papp.PSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Printerservice">
        <activity android:name="com.example.papp.ui.SettingA"
            android:label="@string/Settings"/>
        <activity android:name="com.example.papp.ui.IA"
            android:label="@string/about_app"/>
        <activity android:name="com.example.papp.ui.PA"
            android:label="@string/device_work_toolbar_name"/>
        <activity android:name="com.example.papp.ui.PSettingA"
            android:label="@string/printer_settings"/>

        <receiver
            android:name="com.example.papp.utils.PrintReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.example.papp.service.PService" />

        <activity
            android:name="com.example.papp.ui.MA"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="net.posprinter.service.PosprinterService" />
    </application>

</manifest>